<?php

# Define the settings
$settings = array (
	'hostname' => 'localhost',
	'username' => 'my_username',
	'password' => 'my_password',
	'organisationName' => 'Widgets Institute',
);

# Load and run the MODES catalogue viewer class
require_once ('modesCatalogueViewer.php');
new modesCatalogueViewer ($settings);

?>