<?php

# Define the settings
$settings = array (
	'username' => 'my_username',
	'password' => 'my_password',
	'organisationName' => 'Widgets Institute',
);

# Load and run the MODES catalogue viewer class
require_once ('vendor/autoload.php');
new modesCatalogueViewer ($settings);

?>
